.header{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:10px;
    width: 100%;
    background-color: #95f962;
    padding: 10px;
    font-size: 30pt;
    color: #30501f;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-btn{
    font-weight:bold;
    color: #30501f;
    font-size:20px;
    background-color:#95f962;
    border-radius:10px;
    border: 0;
    padding:10px;
    margin:0 10px;
    margin-bottom: 10px;
    cursor:pointer;
    display: inline-block;
    position: relative;
    overflow: visible;
}

.nav-btn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 5px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: red;
    color: white;
}

@media (hover: hover), (-ms-high-contrast:none) {
    .nav-btn:hover{
        color: #95f962;
        background-color:#30501f;
    }
}

.nav-btn:active{
    color: #95f962;
    background-color:#30501f;
}

.nav-outer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:5px;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .5s;
    height: 100vh;
    width: 250px;
    background-color:#30501f;
    color: #95f962;
    z-index: 5;
}

.nav-outer.active{
    left:0;
    transition: .5s;
}

.nav-close{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 30px;
}