.App {
  text-align: center;
}

#root{
  overflow: hidden;
}

body{
  padding:0;
  margin:0; 
}

.app-help-container{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#30501f;
  margin:10px;
  text-align:left;
  display: flex;
  justify-content: center;
}

.app-help{
  width: 550px;
}

.app-help-container h3{
  text-align:center;
}

.app-help-close-btn-container{
  display: flex;
  justify-content: flex-end;
}

.app-help-close-btn{
  background: #95f962;
  border: 1px solid #95f962;
  color:#30501f;
  border-radius: 18px;
  height: 36px;
  width: 36px;
  justify-content: flex-end;
}

@media (hover: hover), (-ms-high-contrast:none) {
  .app-help-close-btn:hover{
      color: #95f962;
      background-color:#30501f;
  }
}

.app-help-close-btn:active{
  color: #95f962;
  background-color:#30501f;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
 }
 
 .gg-close::after,
 .gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
 }
 
 .gg-close::after {
  transform: rotate(-45deg)
 } 
/*loader css*/
.loader {
  list-style-type: none;  
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .loader .center {
    width: 40px;
    height: 40px;
    background: #30501f;
    border-radius: 50%;
    animation: center 3.2s ease-in-out infinite; }
  .loader .item {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 0;
    right: -40px;
    margin: auto;
    background: #30501f;
    border-radius: 50%; }

.item-1 {
  animation: anim-1 3.2s ease-in-out infinite 0.2s;
  animation-fill-mode: backwards; }

@keyframes anim-1 {
  0%, 60%, 100% {
    transform: rotate(45deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(45deg) translateX(0) scale(1.5); } }

.item-2 {
  animation: anim-2 3.2s ease-in-out infinite 0.4s;
  animation-fill-mode: backwards; }

@keyframes anim-2 {
  0%, 60%, 100% {
    transform: rotate(90deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(90deg) translateX(0) scale(1.5); } }

.item-3 {
  animation: anim-3 3.2s ease-in-out infinite 0.6s;
  animation-fill-mode: backwards; }

@keyframes anim-3 {
  0%, 60%, 100% {
    transform: rotate(135deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(135deg) translateX(0) scale(1.5); } }

.item-4 {
  animation: anim-4 3.2s ease-in-out infinite 0.8s;
  animation-fill-mode: backwards; }

@keyframes anim-4 {
  0%, 60%, 100% {
    transform: rotate(180deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(180deg) translateX(0) scale(1.5); } }

.item-5 {
  animation: anim-5 3.2s ease-in-out infinite 1s;
  animation-fill-mode: backwards; }

@keyframes anim-5 {
  0%, 60%, 100% {
    transform: rotate(225deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(225deg) translateX(0) scale(1.5); } }

.item-6 {
  animation: anim-6 3.2s ease-in-out infinite 1.2s;
  animation-fill-mode: backwards; }

@keyframes anim-6 {
  0%, 60%, 100% {
    transform: rotate(270deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(270deg) translateX(0) scale(1.5); } }

.item-7 {
  animation: anim-7 3.2s ease-in-out infinite 1.4s;
  animation-fill-mode: backwards; }

@keyframes anim-7 {
  0%, 60%, 100% {
    transform: rotate(315deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(315deg) translateX(0) scale(1.5); } }

.item-8 {
  animation: anim-8 3.2s ease-in-out infinite 1.6s;
  animation-fill-mode: backwards; }

@keyframes anim-8 {
  0%, 60%, 100% {
    transform: rotate(360deg) translateX(40px) scale(1); }
  10%, 50% {
    transform: rotate(360deg) translateX(0) scale(1.5); } }

@keyframes center {
  0%, 10%, 90%, 100% {
    transform: scale(0.7); }
  45%, 55% {
    transform: scale(1); } }
